# Libraries, Directory & Data

In [5]:
#Changing directory
%cd /content/drive/MyDrive/Business Analyst course/Statistics and Descriptive Analytics/Basic Statistics

/content/drive/MyDrive/Business Analyst course/Statistics and Descriptive Analytics/Basic Statistics

In [6]:
#Impot Pandas & Seaborn Libraries

import pandas as pd
import seaborn as sns

In [11]:
#Loading the dataset

df = pd.read_csv("Baseball.csv")
df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

# Dataset Overview

##Content
The variables are as follows:
1. Team
2. League
3. Year
4. Runs Scored (RS)
5. Runs Allowed (RA)
6. Wins (W)
7. On-Base Percentage (OBP)
8. Slugging Percentage (SLG)
9. Batting Average (BA)
10. Playoffs (binary)
11. RankSeason
12. RankPlayoffs
13. Games Played (G)
14. Opponent On-Base Percentage (OOBP)
15 Opponent Slugging Percentage (OSLG)
**Acknowledgements:**

*The data itself is gathered from baseball-reference.com.
Sports-reference.com is one of the most comprehensive sports statistics resources available, and I highly recommend checking it out.*

#Mean

In [13]:
#Mean of RS
mean_of_rs = df.RS.mean()
mean_of_rs

715.0819805194806

In [14]:
#Mean of RS by Arizona Team(ARI)
mean_of_rs_by_ari = df.loc[df.Team == "ARI"].RS.mean()
mean_of_rs_by_ari

742.2

In [16]:
 #Mean of RS by Arizona Team(ARI) Since 2005 
mean_of_rs_by_ari_from2005 = df.loc[(df.Team == "ARI") & (df.Year >= 2005)].RS.mean()
mean_of_rs_by_ari_from2005

724.875

###Ex: What is the mean of RA of CHC team untill 2007

In [17]:
mean_of_chc_ra_before_2007 = df.loc[(df.Team == "CHC") & (df.Year < 2007)].RA.mean()
mean_of_chc_ra_before_2007

728.170731707317